################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/HelloNRX/v17/ipch/4d4ffad4bf66f15b.ipch
/.vs/HelloNRX/v17/.suo
/.vs/HelloNRX/v17/.wsuo
/.vs/HelloNRX/v17/Browse.VC.db
/.vs/HelloNRX/v17/DocumentLayout.json
