################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/
/.vs/HelloNRX/v17/.suo
/.vs/HelloNRX/v17/.wsuo
/.vs/HelloNRX/v17/Browse.VC.db
/.vs/HelloNRX/v17/DocumentLayout.json
